.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_form {
    padding: 20px;
    border-radius: 8px;
    width: 320px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px
}

.login_input {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}